.terraform/
.terraform.tfstate.lock.info
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log

terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json

.ssh/
.secrets/

override.tf
override.tf.json
*_override.tf
*_override.tf.json
